.modal {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #008e2b, #4caf50);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  overflow-y: auto;
  z-index: 1000;
  align-items: center;
  cursor: pointer;
}

.modalContent{
  margin: auto;
  cursor: default;
}

.unCloseWrapper{
  cursor: default;
}


.closeModalBtn{
  position: absolute;
  right: 2rem;
  top: 0;
  color: white;
  font-size: 3rem !important;
  outline: none !important;
  border: none !important;
  z-index: 10000;

  &:hover{
    transform: translateY(-2px);
    filter: drop-shadow(1px 1px 1px white);
  }

  @media (max-width: 991.98px) {
    top: -2rem;
  }

  @media (max-width: 767.98px) {
    right: 1rem;
  }

  @media (max-width: 479.98px) {
    right: 0.1rem;
  }
}